/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

 /* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
 */

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }
 body {
 	line-height: 1;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Segoe UI, Helvetica, Arial;
 }
 ol, ul {
 	list-style: none;
 }
 blockquote, q {
 	quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: '';
 	content: none;
 }
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }



html, body {
  height: 100%
}

.auth-h1 {
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 12px;
  text-align: center;
  display: block;
}

.auth-h2 {
  color: rgba(0, 0, 0, .75);
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 6px;
  width: 100%;
  display: block;
}

.bigger-margin {
  margin-bottom: 30px;
}

.auth-textbox {
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 4px;
  color: rgba(0,0,0,1);
  display: block;
  font-size: 17px;
  height: 42px;
  margin-left: atuo;
  margin-right: auto;
  padding: 0 16px;
  width: 286px;
}

.auth-form {
  margin: 0 auto;
  width: 320px;
  text-align: left;
  display: block;
}

.auth-button {
  background-color: #0084ff;
  border: 1px solid #0084ff;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 17px;
  height: 44px;
  margin-bottom: 24px;
  padding: 0;
  width: 318px;
  cursor: pointer;
  margin: 10px auto;
}

.auth-button:hover {
  background-color: #005aaf;
  border: 1px solid #005aaf;
}

html {
  height: 100%;
  background-image:
    linear-gradient(
      white, lightblue
    );
}

.auth-logo {
  width: 120px;
  display: block;
  margin: 0 auto;
}

.error {
  color: #d50000;
  text-align: center;
}

.empty_error {
  padding-bottom: 27px;
}

.app {
  width: 100vw;
  height: 100vh;
}

.auth-div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.chat-feed {
  padding-left: 0;
}
.chat-item {
  list-style: none;
  margin-top: 4px;
  margin-bottom: 4px;
  overflow: hidden;
}

.selected-chat-item {
  background-color: rgba(0, 0, 0, .05);
}

.chat-item:hover {
  background-color: rgba(0, 0, 0, .05);
}

.chat-item > h1 {
  font-size: 20px;
}

.chat-item-button {
  width: 100%;
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
  cursor: pointer;
  height: 64px;
}

.chat-item-button:focus {
  outline: 0;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  text-align: center;
  padding: 8px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .20)
}

.toolbar * {
  display: inline;
}

.toolbar > h1 {
  font-size: 20px;
}

.searchbar-label {
  padding: 0 5px;
  box-sizing: border-box;
}

.icon-shift {
  position: absolute;
  left: 14px;
  top: 62px;
}

.searchbar {
  border-radius: 5px;
  background-color: #f5f6f7;
  border-style: none;
  padding-left: 25px;
  height: 30px;
  width: 85%;
}
.searchbar:focus {
  outline-width: 0;
}

.fa-search {
  color: lightgrey;
}

.fa-pencil-square-o {
  color: #0084ff;
}

.fa-cog {
  color: #0084ff;
}

.searchbar-holder {
  width: 100%;
  padding: 5px;
}

.message-index {
  border-left: 1px solid rgba(0, 0, 0, .20);
  display: flex;
  flex: 3;
  flex-direction: column;
}

.message-text-box {
  width: 100%;
  height: 50px;
  background-color: rgba(255,255,255,.5);
  border-top: 1px solid rgba(0, 0, 0, .20);
}

.message-input {
  border-style: none;
  font-size: 14px;
  height: 100%;
  padding-left: 2%;
  background-color: rgba(0,0,0,0);
  width: 98%
}
.message-input:focus {
  outline-width: 0;
}

.message-item {
  display: flex;
  align-items: flex-end;
  margin-top: 5px;
  overflow: hidden;
  word-break: break-all;
}

.message-item-text {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  border-radius: 1.3em;
  background-color: #F1F0F0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}

.my-color {
  background-color: #0084ff;
  color: #fff;
  margin-right: 5px;
  margin-left: 0px;
}

.main-index {
  display: flex;
  -webkit-font-smoothing: antialiased;
  height: 100%
}

.sidebar {
  flex: 0 0 25%;
  max-width: 420px;
  min-width: 240px;
}

.fa-button {
  width: 32px;
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
  cursor: pointer;
}

.fa-button:focus {
  outline-width: 0;
}

.message-index-header {
  height: 50px;
  text-align: center;
  padding: 8px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .20)
}

.message-feed-div {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  justify-content: flex-start;
}

.message-index-main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.message-index-main-holder {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.menu-div {
  width: 30%;
  background-color: rgba(0,0,0,0);
  border-left: 1px solid rgba(0, 0, 0, .20);
}

.message-feed {
  flex: 1;
  padding: 5px;
}

.chat-item-align {
  text-align: left;
}

.user-search-div {
  position: fixed;
  color: grey;
  width: 100%;
}

.user-search-form {
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  overflow-x: scroll;
}

#user-search-input {
  font-size: 14px;
  margin-left: 5px;
  border-style: none;
  width: 100%;
  height: 30px;
}

#user-search-input:focus {
  outline-width: 0;
}

.user-search-results {
  padding: 10px;
  position: absolute;
  top: 37px;
  left: 23px;
  width: 400px;
  border-radius: 10px;
  background-color: rgb(255,255,255);
  border: 1px solid rgba(0, 0, 0, .20);
  max-height: 500px;
  overflow: scroll;
}

.loading-users {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: content-box;
}

.loading-h2 {
  font-size: 18px;
  color: grey;
  padding-left: 5px;
  font-weight: 400;
}

.search-user-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.search-user-list > li {
  width: 100%;
  align-self: flex-start;
}

.user-select {
  border: none;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  text-align: left;
}

.user-select:hover {
  background-color: rgba(0, 0, 0, .05);
}

.user-select:focus {
  outline-width: 0;
}

.selected-user {
  background-color: #0084ff;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  border-width: 0;
  cursor: pointer;
  font-size: 14px;
}

.selected-user:hover {
  background-color: lightgrey;
}

.selected-user:focus {
  outline-width: 0;
}

.selected-users {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.header-section-div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.header-section-h1 {
  position: absolute;
}

.header-section-button {
  margin-left: auto;
}

.group-info-button {
  color: #0084ff;
  border: 0;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
}

.group-info-button:hover {
  color: blue;
}

.group-info-button:focus {
  outline-width: 0
}

.invisible {
  display: none;
}
