/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 /* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
 */

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }
 body {
 	line-height: 1;
 }
 ol, ul {
 	list-style: none;
 }
 blockquote, q {
 	quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: '';
 	content: none;
 }
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }



html, body {
  height: 100%
}


#footer {
  background-color: #323940;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  color: #a8a8a8;
  display: flex;
  justify-content: space-around;
  font-family: Helvetica Neue, Helvetica;
  color: rgba(255, 255, 255, .4);
  letter-spacing: .2px;
  font-size: 13px;
}

.auth-h1 {
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 12px;
  text-align: center;
  display: block;
  font-family: Helvetica Neue, Helvetica
}

.auth-h2 {
  color: rgba(0, 0, 0, .75);
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 6px;
  width: 100%;
  font-family: Helvetica Neue, Helvetica;
  display: block;
}

.bigger-margin {
  margin-bottom: 30px;
}

.auth-textbox {
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 4px;
  color: rgba(0,0,0,1);
  display: block;
  font-family: Helvetica Neue, Helvetica;
  font-size: 17px;
  height: 42px;
  margin-left: atuo;
  margin-right: auto;
  padding: 0 16px;
  width: 286px;
}

.auth-form {
  margin: 0 auto;
  width: 320px;
  text-align: left;
  display: block;
}

.auth-button {
  background-color: #0084ff;
  border: 1px solid #0084ff;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-family: Helvetica Neue, Helvetica;
  font-size: 17px;
  height: 44px;
  margin-bottom: 24px;
  padding: 0;
  width: 318px;
  cursor: pointer;
  margin: 10px auto;
}

.auth-button:hover {
  background-color: #005aaf;
  border: 1px solid #005aaf;
}

html {
  height: 100%;
  background-image:
    linear-gradient(
      white, lightblue
    );
}

.auth-logo {
  width: 120px;
  display: block;
  margin: 0 auto;
}

.error {
  color: #d50000;
  text-align: center;
}

.empty_error {
  padding-bottom: 27px;
}

.app {
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.auth-div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.conversation-feed {
  padding-left: 0;
}
.conversation-item {
  background-color: grey;
  width: 200px;
  list-style: none;
  border: 4px solid black;
  margin-top: 2px;
  margin-bottom: 2px;
}

.conversation-item > h1 {
  font-size: 20px;
}

.toolbar {
  background-color : lightgrey;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toolbar * {
  display: inline;
}

.toolbar > h1 {
  font-size: 20px;
}

.searchbar {
  width: 200px;
}

.message-index {
  width: 700px;
}
.message-feed {
  background-color: #f00;
  width: 100%;
}
.message-text-box {
  width: 100%;
}
.message-item {
  background-color: lightblue;
  width: 100%;
  border: 2px solid grey;
}

.main-index {
  display: flex;
}
